/* Reset de estilos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
body {
    min-height: 100dvh;
    background-color: #fcfcfc ;
}
h1, h2, h3, h4 {
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}

/* Header */

.main-header {
    box-sizing: border-box;
    background-color: #242e47;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vw;
    min-height: 80px;
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 100000;
    box-shadow: 0px 5px 10px 5px #3d559073;
}

/* Logo y Nombre */

.logo-container {
    display: flex;
    align-items: center; /* Borde redondeado */
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Elimina la decoración de enlace */
    color: #333; /* Color del texto del nombre de la página */
}

.logo-image {
    width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
    border-radius: 4px;
}

/* Nav */
.main-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2ecf7;
    border-radius: 5vw;
}

.nav-list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
}

.nav-item {
    box-sizing: border-box;
}

.nav-link {
    box-sizing: border-box;
    display: flex;
    /* margin: 5px; */
    padding: 6px 18px;
    background-color: #4F79C1;
    text-decoration: none;
    color: #F2F7FC;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.nav-link:hover {
    background-color: #ffffff;
    color: #242E47;
}

/* Botones de Contactos */
.Contactos{
    box-sizing: border-box;
    display: flex;

}
.btn-nav {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 9px;
    cursor: pointer;
    border-radius: 12px; /* Botón circular */
    background-color: #4F79C1; /* Color de fondo del botón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    fill: #F2F7FC;
    stroke: #f2f2f2;
}

.btn-nav:hover {
    background-color: #d9e0e3; /* Color de fondo al pasar el ratón */
    fill: #242E47; /* Color del icono al pasar el ratón */
    stroke: #242E47; /* Color del icono al pasar el ratón */
}



/* ----------- */
/* Hero Imagen */
/* ----------- */

.hero {
    position: relative;
    width: 100%;
    height: 85vh; /* Resta la altura del header */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center;
    padding: 2vh 2vw; /* Agrega un espacio a los lados */
    /* background-image: url('../Image/Fondo-HeroImage.jpg'); */
    background-image: url('../Image/Imagen1.jpg');
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de la opacidad (0.5) para hacerlo más oscuro o más claro */
}

.hero-content {
    min-width: 50vw; /* Ocupa solo la mitad del ancho */
    padding: 40px;
    max-width: 600px;
    color: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 8px 32px 0 #13113b5e;
    backdrop-filter: blur(6px);
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #0F4C75;
    font-family: "Satisfy", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
    text-wrap: pretty;
}

.buttons {
    margin-top: 20px; /* Agrega espacio arriba de los botones */
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #0F4C75;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .hero {
        padding: 0 10px; /* Reduce el espacio a los lados en pantallas más pequeñas */
    }

    .hero::before {
        width: 100vw; /* Ocupa todo el ancho en pantallas más pequeñas */
    }
}
