/* Importando */
@font-face {
    font-family: Rojal;
    src: url('Typografi/Rojal.ttf') format('truetype');
}
/* Reset de estilos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
body {
    min-height: 100dvh;
    background-color: #ffffff ;
}
h1, h2, h3, h4 {
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}
/* Colores */
:root {
    /* TaylorSwift */
    --taylor-swift-50: #f2f7f2;
    --taylor-swift-100: #e1edde;
    --taylor-swift-200: #c3dac0;
    --taylor-swift-300: #96c095;
    --taylor-swift-Original-400: #7cac7c;
    --taylor-swift-500: #478249;
    --taylor-swift-600: #346737;
    --taylor-swift-700: #2a522e;
    --taylor-swift-800: #234225;
    --taylor-swift-900: #1d371f;
    --taylor-swift-950: #101e12;
 /* Fearless */
    --fearless-50: #fdf6ed;
    --fearless-100: #f8e6cd;
    --fearless-200: #f1c996;
    --fearless-Original-300: #e89f4f;
    --fearless-400: #e58b3a;
    --fearless-500: #dd6b23;
    --fearless-600: #c34c1c;
    --fearless-700: #a2341b;
    --fearless-800: #842a1c;
    --fearless-900: #6d241a;
    --fearless-950: #3e0f0a;
/* Speak Now */
    --speak-now-50: #f8f6f9;
    --speak-now-100: #f3eff4;
    --speak-now-200: #e9dfeb;
    --speak-now-300: #dac5dc;
    --speak-now-Original-400: #c7a8ca;
    --speak-now-500: #ae83b1;
    --speak-now-600: #9b679b;
    --speak-now-700: #835382;
    --speak-now-800: #6d476b;
    --speak-now-900: #5d3e5d;
    --speak-now-950: #362135;
/* Red */
    --red-50: #fcf4f4;
    --red-100: #f9ebea;
    --red-200: #f3d9d8;
    --red-300: #eab8b7;
    --red-400: #dd8f90;
    --red-500: #cd666a;
    --red-600: #b74751;
    --red-700: #993742;
    --red-Original-800: #7a2e39;
    --red-900: #6f2c38;
    --red-950: #3d141b;
/* 1989 */
    ---1989-50: #f1fafe;
    ---1989-100: #e2f4fc;
    ---1989-Original-200: #b5e5f8;
    ---1989-300: #85d7f4;
    ---1989-400: #44c2ec;
    ---1989-500: #1cabdb;
    ---1989-600: #0e8abb;
    ---1989-700: #0d6e97;
    ---1989-800: #0f5e7d;
    ---1989-900: #124d68;
    ---1989-950: #0c3145;
/* Reputation */
    --reputation-50: #f8f7f8;
    --reputation-100: #efefef;
    --reputation-200: #dcdbdc;
    --reputation-300: #bebbbc;
    --reputation-400: #9a9697;
    --reputation-Original-500: #746f70;
    --reputation-600: #676263;
    --reputation-700: #545051;
    --reputation-800: #484444;
    --reputation-900: #3e3c3c;
    --reputation-950: #292829;
/* Lover */
    --lover-50: #fdf2f6;
    --lover-100: #fbe8f0;
    --lover-200: #fad0e2;
    --lover-Original-300: #f7b0cc;
    --lover-400: #f076a4;
    --lover-500: #e74d82;
    --lover-600: #d52d5f;
    --lover-700: #b91d47;
    --lover-800: #991b3b;
    --lover-900: #801b35;
    --lover-950: #4e091a;
/* Folklore */
    --folklore-50: #f7f6f5;
    --folklore-100: #ecebe8;
    --folklore-Original-200: #cdc9c1;
    --folklore-300: #c0bbb1;
    --folklore-400: #a69d91;
    --folklore-500: #94887b;
    --folklore-600: #877a6f;
    --folklore-700: #71665d;
    --folklore-800: #5d544f;
    --folklore-900: #4d4641;
    --folklore-950: #282422;
/* Evermore */
    --evermore-50: #f9f6f3;
    --evermore-100: #f1ebe3;
    --evermore-200: #e2d5c6;
    --evermore-Original-300: #c5ac90;
    --evermore-400: #ba997d;
    --evermore-500: #ac8263;
    --evermore-600: #9f7157;
    --evermore-700: #845c4a;
    --evermore-800: #6c4c40;
    --evermore-900: #584036;
    --evermore-950: #2f201b;
/* Midnights */
    --midnights-50: #f2f7fc;
    --midnights-100: #e2ecf7;
    --midnights-200: #ccdef1;
    --midnights-300: #aac9e6;
    --midnights-400: #81add9;
    --midnights-500: #6392ce;
    --midnights-600: #4f79c1;
    --midnights-700: #4567b0;
    --midnights-800: #3d5590;
    --midnights-900: #354873;
    --midnights-Original-950: #242e47;
/* The Tortured Poets Department */
    --TTPD-50: #f5f3f1;
    --TTPD-100: #e5e3dc;
    --TTPD-200: #cdc9bb;
    --TTPD-300: #b0a894;
    --TTPD-Original-400: #998d75;
    --TTPD-500: #8b7d67;
    --TTPD-600: #766858;
    --TTPD-700: #605348;
    --TTPD-800: #534740;
    --TTPD-900: #493f3a;
    --TTPD-950: #29221f;
}

/* ---- Tarjetas - Eras ---- */
.Eras{
    display: flex;
    flex-wrap: wrap;
}
.Tarjeta-Era {
    border-radius: 22px;
    margin: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    min-width: 300px;
    width: 100%;
    position: relative;
}
#era-taylor-swift {
    background-color: var(--taylor-swift-Original-400);
}
#era-fearless {
    background-color: var(--fearless-Original-300);
}
#era-speak-now{
    background-color: var(--speak-now-Original-400);
}
#era-red{
    background-color: var(--red-Original-800);
}
#era-1989{
    background-color: var(---1989-Original-200);
}
#era-reputation{
    background-color: var(--reputation-Original-500);
}
#era-lover{
    background-color: var(--lover-400);
}
#era-folklore{
    background-color: var(--folklore-Original-200);
}
#era-evermore{
    background-color: var(--evermore-Original-300);
}
#era-midnights{
    background-color: var(--midnights-600);
}
#era-TTPD{
    background-color: var(--TTPD-Original-400);
}

.Tarjeta-header {
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 75px;
    position: relative;
}

#era-taylor-swift .Tarjeta-header{
    background: var(--taylor-swift-600);
}
#era-fearless .Tarjeta-header{
    background: var(--fearless-600);
}
#era-speak-now .Tarjeta-header{
    background: var(--speak-now-700);
}
#era-red .Tarjeta-header{
    background: var(--red-400);
}
#era-1989 .Tarjeta-header{
    background: var(---1989-300);
}
#era-reputation .Tarjeta-header{
    background: var(--reputation-400);
}
#era-lover .Tarjeta-header{
    background: var(--lover-Original-300);
}
#era-folklore .Tarjeta-header{
    background: var(--folklore-400);
}
#era-evermore .Tarjeta-header{
    background: var(--evermore-500);
}
#era-midnights .Tarjeta-header{
    background: var(--midnights-900);
}
#era-TTPD .Tarjeta-header{
    background: var(--TTPD-300);
}


.Tarjeta-Logo {
    height: 100%;
    flex: 1;
    position: relative;
    object-fit: contain;
}

.Tarjeta-Disco {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#era-taylor-swift .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/01-Portada-TaylorSwift.jpg);
}
#era-fearless .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/02-Portada-Fearless.jpg);
}
#era-speak-now .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/03-Portada-SpeakNow.png);
}
#era-red .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/03-Portada-Red.jpg);
}
#era-1989 .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/05-Portada-1989.jpg);
}
#era-reputation .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/06-Portada-Reputation.jpg);
}
#era-lover .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/07-Portada-Lover.jpg);
}
#era-folklore .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/08-Portada-Folklore.jpg);
}
#era-evermore .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/09-Portada-Evermore.jpg);
}
#era-midnights .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/10-Portada-Midnights.jpg);
}
#era-TTPD .Tarjeta-Disco {
    background-image: url(../image/Portadas-Discos/11-TTPD.jpg);
}


.Tarjeta-Disco img {
    border-radius: 12px;
    align-self: stretch;
    flex-shrink: 0;
    height: 350px;
    position: relative;
    object-fit: contain;
    backdrop-filter: blur(5px);
}

.Color-Multiplicar {
    mix-blend-mode: multiply;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red ;
    z-index: 1; /* Asegura que esté encima de la imagen */
}
#era-taylor-swift .Color-Multiplicar{
    background-color: var(--taylor-swift-Original-400);
}
#era-fearless .Color-Multiplicar{
    background-color: var(--fearless-Original-300);
}
#era-speak-now .Color-Multiplicar{
    background-color: var(--speak-now-Original-400);
}
#era-red .Color-Multiplicar{
    background-color: var(--red-Original-800);
}
#era-1989 .Color-Multiplicar{
    background-color: var(---1989-Original-200);
}
#era-reputation .Color-Multiplicar{
    background-color: var(--reputation-Original-500);
}
#era-lover .Color-Multiplicar{
    background-color: var(--lover-Original-300);
}
#era-folklore .Color-Multiplicar{
    background-color: var(--folklore-Original-200);
}
#era-evermore .Color-Multiplicar{
    background-color: var(--evermore-Original-300);
}
#era-midnights .Color-Multiplicar{
    background-color: var(--midnights-300);
}
#era-TTPD .Color-Multiplicar{
    background-color: var(--TTPD-Original-400);
}


#era-taylor-swift .Tarjeta-Img-Descripcion{
    color: var(--taylor-swift-600)
}
#era-fearless .Tarjeta-Img-Descripcion{
    color: var(--fearless-600)
}
#era-speak-now .Tarjeta-Img-Descripcion{
    color: var(--speak-now-600)
}
#era-red .Tarjeta-Img-Descripcion{
    color: var(--red-600)
}
#era-1989 .Tarjeta-Img-Descripcion{
    color: var(---1989-600)
}
#era-reputation .Tarjeta-Img-Descripcion{
    color: var(--reputation-600)
}
#era-lover .Tarjeta-Img-Descripcion{
    color: var(--lover-600)
}
#era-folklore .Tarjeta-Img-Descripcion{
    color: var(--folklore-600)
}
#era-evermore .Tarjeta-Img-Descripcion{
    color: var(--evermore-600)
}
#era-midnights .Tarjeta-Img-Descripcion{
    color: var(--midnights-600)
}
#era-TTPD .Tarjeta-Img-Descripcion{
    color: var(--TTPD-600)
}

.Tarjeta-TrackList {
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.Tarjeta-TrackList p {
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

#era-taylor-swift .TrackList-Cantado {
    color: var(--taylor-swift-800);
}

#era-taylor-swift .TrackList-SetList{
    color: var(--taylor-swift-600);
}

#era-taylor-swift .TrackList-NoCantado{
    color: var(--taylor-swift-200);
}




